.jumbotron {
  text-align: center;
}

.panel {
  border: solid 1px;
  text-align: center;
}

button{
  align-items: center;
}

.well {
  text-align: center;
}

ul {
  list-style: none;
}

.selectBox {
  width: 5%;
  display: block;
  margin: auto;
}

#submit {
  display: block;
  margin: auto;
}

#purchase{
  display: none;
}
